/* NOTE: font-size 標準=medium の1段階下は、small　   */
/* HACK: 画面下部ページャのサイズは変更していない */
table.vgt-table,
table.vgt-table input,
table.vgt-table select
{
  font-size:small !important;
}

.ledger table {
  border-collapse: collapse;
  td,th {
    font-size: xx-small !important;
    border: 1px solid #dedede;
    white-space: nowrap;
  }
  
  input, select, textarea {
    font-size: xx-small !important;
  }
  th {
    background-color: #eeeeee;
  }
  td {
    padding: 4px 10px !important;
  }

  /* マウス移動時の行強調を無効にする */
  tr:hover {
    background-color: transparent !important;
  }

  /* v-textfieldのメッセージ部を隠す（下側に余白ができるので） */
  .v-input__details {
    margin-bottom: 2px;
  }
}

.float-bottom{
  position: fixed;
  right: 1.2em;
  bottom: 1.2em;
}

.brgDetailCard {
  padding: 0;
  border: 1px solid black;
  td,th {
    border: 0.5px solid black;
  }
}

.atfTable table{
 th{
  text-align: center !important;
 }
}

/*施設詳細_道路施設(roadfacility)*/
/*TODO:違いはthタグのtext-align:centerと
　.editcellのみであるので
　.ledgerを継承したいができない。*/
.rfaTable table{
 td,th {
  font-size: xx-small !important;
  border: 1px solid #dedede;
  white-space: nowrap;
  }
  th{
    background-color: #eeeeee;
    text-align: center !important;
  }
  .editcell{
    background-color: white;
    div{
      font-size: xx-small !important;
    }
  }
}
.tbTitle {
  div{
    border-collapse: collapse;
    border: 1px solid #dedede;
    font-size: xx-small !important;
    padding: 0.5%;
  }
  .title{
    background-color: #eeeeee;
  }
}
.rfaCardText{
  div{
    font-size: xx-small !important;
    padding: 0%;
  }
}

.noborder {
  tr, td, th {
    border: 0px none !important;
    background-color: transparent !important;
  }
}

.cell {
  border: 1px solid #dedede;
}